body {
  padding: 0;
  margin: 0;
}

/* #map,
body,
html {
  height: 100%;
} */

.navbar-brand{
  color: white;
  background-color: rgb(138, 25, 25);
  padding-left: 10px;
  padding-right:10px;
  font-family: Georgia, "Times New Roman", Times, serif;

}

/* Set map, body, and html to 100% of the screen size. */
#map,
body,
html {
height: 100%;
} 


.leaflet-popup-content {
  text-align: center;
}

/* CSS from the leaflet-choropleth documentation */
.legend {
  color: #555;
  padding: 6px 8px;
  font: 12px Arial, Helvetica, sans-serif;
  font-weight: bold;
  background: white;
  background: rgba(255,255,255,0.8);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
}
.legend ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  clear: both;
}
.legend li {
  display: inline-block;
  width: 30px;
  height: 22px;
}
.legend .min {
  float: left;
  padding-bottom: 5px;
}
.legend .max {
  float: right;
}

h1 {
  text-align: center;
}

.info {
  padding: 6px 8px;
  font: 14px/16px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255,255,255,0.8);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
}
.info h4 {
  margin: 0 0 5px;
  color: #777;
}

h1{
  font-family: Georgia, "Times New Roman", Times, serif;
  color: rgb(138, 25, 25);
  background-color: white;
  margin-top: 50px;
  margin-bottom: 50px;
}

#landing-thumb{
  width:400px
}

h2{
  font-family: Georgia, "Times New Roman", Times, serif;
  color: darkcyan;
  background-color: white;
  margin-top: 50px;
}

.my-col1{
  background-color: white;
  margin-top:50px;
  margin-right:20px;
  margin-left: 20px
}

.my-col2{
  background-color: white;
  margin-top:50px
}

h5{
  color: rgb(138, 25, 25);
}

h6{
  padding-bottom: 40px;
}
